body{
	opacity: .80;
}

p,a{
	color: #428bca;
	font-weight: bold;
	opacity: 100;
}

.esquerda{
	text-align: left;

}

.imgInteracao{
	border-radius: 50%;
	border-style: none;
	border-width: 60px;
}

p.linkMenuCentral{
	font-size: 20px;
}

a:hover{
	text-decoration: none;
}

.btn-default{
	width: 100px;
	background:transparent;
	border:none;
}

.foto_header{
	width: 100%;
}

.btn-group-lg{
	background: #000;
}