div,nav{
	background: transparent;
}

		.cabecalho{
			width: 100%;
			height: 10%;
		    margin-left: 1%;
		    text-align:right;
		}
		
		.cabecalho{
			margin:40px 0 20px;
		}

			.cabecalho h1{
				font-size: 40px;
			}

			.cabecalho h2{
				font-size: 20px;
			}
			
		.btn-col{
		    display: inline;

		}

		.botoes{
			margin-top: 200px;
			
		}
		.apresentacao{
			font-weight: bold;
		}
		.apresentacao {
				font-weight: bold;
				font-style:inherit;
		}

.colBotao{
	
     color: #616165;

     font-family: "Trebuchet MS";
     font-size: 14px;

     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;

    }
.rodape{
	margin-top: 30px;
}