p.linkMenuCentral{
	font-size: 20px;
}
a:hover{
	text-decoration: none;
}

.btn-default{
	width: 100px;
	background:transparent;
	border:none;
}

.foto_header{
	width: 100%;
}

.btn-group-lg{
	background: #000;
}

.minhaclasse{
	background: #222;
}
.table{
	text-align: left;
}