
div,nav{
	background: transparent;
}

		.cabecalho{
			width: 100%;
			height: 10%;
		    margin-left: 1%;
		    text-align:right;
		}
		
		.cabecalho{
			margin:40px 0 20px;
		}

			.cabecalho h1{
				font-size: 40px;
			}

			.cabecalho h2{
				font-size: 20px;
			}
		
		.btn-col{
		    display: inline;

		}

		.botoes{
			margin-top: 200px;
			
		}
		.apresentacao{
			font-weight: bold;
		}
		input{
			background: rgb(249,198,103); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjljNjY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3OTYyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  rgb(249,198,103) 0%, rgb(247,150,33) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(249,198,103)), color-stop(100%,rgb(247,150,33))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  rgb(249,198,103) 0%,rgb(247,150,33) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  rgb(249,198,103) 0%,rgb(247,150,33) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  rgb(249,198,103) 0%,rgb(247,150,33) 100%); /* IE10+ */
			background: linear-gradient(135deg,  rgb(249,198,103) 0%,rgb(247,150,33) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


			-webkit-appearance:button
			border: none;
		}

.colBotao{
	
     color: #616165;

     font-family: "Trebuchet MS";
     font-size: 14px;

     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;

    }
}

